<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Title</key>
                <string>Group</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Values</key>
                <array>
                    <string>woman</string>
                    <string>man</string>
                </array>
                <key>Title</key>
                <string>男女版</string>
                <key>Titles</key>
                <array>
                    <string>女</string>
                    <string>男</string>
                </array>
                <key>Key</key>
                <string>com.hufengvip.FAThemeManager.defaulttheme</string>
                <key>DefaultValue</key>
                <string>man</string>
            </dict>
        </array>
        <key>StringsTable</key>
        <string>Root</string>
    </dict>
</plist>
